@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
}

.App .container {
  height: 100vh;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 18rem auto;
  gap: 40px;
  overflow: hidden;
}

.App .container .chart h1 {
  margin: auto;
}


/* ************************************************************* */
/* 選單 */
.App .container #collapse-control {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.App .container #collapse-control:checked .nav-container .nav-wrap {
  visibility: hidden;
}

.App .container label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
  z-index: 2;
  position: absolute;
}
.App .container label:hover .fa-arrow-left,
.App .container label:hover .fa-arrow-right {
  color: rgb(56, 52, 121);
}

.App .container label .fa-arrow-left,
.App .container label .fa-arrow-right {
  color: rgb(125, 118, 233);
}

.App .container .nav-container .nav-wrap {
  height: 100%;
  padding: 1rem 1.5rem;
  background: rgb(229, 248, 198);
  box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
  transition: .3s;
}

.App .container .nav-container .nav-wrap .logo img {
  width: 15rem;
  cursor: pointer;
  transition: .3s;
}

.App .container .nav-container .nav-wrap .nav {
  width: 100%;
  margin: 2rem 0;
}

.App .container .nav-container .nav-wrap .nav ul li button {
  width: 100%;
  border: 1px solid #bab;
  border-radius: 5px;
  padding: 3px;
  margin-top: 1rem;
  white-space: pre-line;
  font-size: 1em;
  color: rgb(125, 118, 233);
  transition: .3s;
  cursor: pointer;
}
.App .container .nav-container .nav-wrap .nav ul li button:hover {
  color: #f7f7f7;
  background: rgb(103, 100, 146);
}
.App .container .nav-container .nav-wrap .nav ul li button:visited {
  color: rgb(125, 118, 233);
}


/* ************************************************************* */
/* 首頁 */
.App .container .Home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ************************************************************* */
/* 讀取.csv檔 */
.App .container .read_csv {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px auto;
  column-gap: 20px;
}

.App .container .read_csv .input-wrap {
  grid-area: 1 / 1 / 2 / 3;
}

.App .container .read_csv .input-wrap .button-wrap {
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background: #f0f0f0;
}

.App .container .read_csv .input-wrap .button-wrap input {
  width: 200px;
  height: 100%;
  padding: 10px;
}

.App .container .read_csv .input-wrap .button-wrap button {
  width: 70px;
  height: 25px;
}

.App .container .read_csv .input-wrap .data-wrap {
  margin-top: 1rem;
}

.App .container .read_csv .input-wrap .data-wrap ul {
  line-height: 1.5;
}

.App .container .read_csv .chart-wrap {
  width: 100%;
  margin: 2rem 0 0;
}

/* 筆電 */
@media screen and (max-width: 1199px) {
  .App .container {
    padding: 0;
  }

  .App .container .read_csv {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    overflow-y: scroll;
  }

  .App .container .read_csv .chart-wrap {
    margin-right: 1rem;
  }
}

/* 平板 */
@media screen and (max-width: 991px) {
  .App .container {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 12rem auto;
  }

  .App .container #collapse-control:checked ~ .nav-container .nav-wrap .nav {
    height: 0;
    margin: 0;
    display: none;
  }
  .App .container #collapse-control:checked ~ label {
    top: 25px;
    left: 25px;
  }

  .App .container .nav-container .nav-wrap {
    z-index: 1;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  }

  .App .container .nav-container .nav-wrap .logo img {
    width: 12rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .App .container .nav-container .nav-wrap .nav {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  .App .container label {
    width: 45px;
    height: 40px;
    padding: 5px;
    box-shadow: none;
    border: 2px solid #aaa;
    position: absolute;
    left: 25px;
    top: 25px;
  }

  .App .container label .fa-arrow-left,
  .App .container label .fa-arrow-right {
    display: none;
  }

  /* 選單按鈕 */
  .App .container label .menu-line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(125, 118, 233);
  }
  .App .container label .menu-line::before {
    content: '';
    position: absolute;
    top: 8px;
    height: 4px;
    width: 75%;
    border-radius: 10px;
    background: rgb(125, 118, 233);
  }
  .App .container label .menu-line::after {
    content: '';
    position: absolute;
    bottom: 8px;
    height: 4px;
    width: 75%;
    border-radius: 10px;
    background: rgb(125, 118, 233);
  }

  .App .container .read_csv .input-wrap {
    padding-left: 2em;
    grid-area: 1 / 1 / 1 / 1;
  }

  .App .container .read_csv .chart-wrap {
    margin-bottom: 4rem;
  }
}

/* 手機 */
@media screen and (max-width: 767px) {
  
}